.banner {
  width: 100%;
  background: rgba($color: #f8e71c, $alpha: 0.15);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: (30px / $minViewportHeight * 100) * 1vw;
  @include calcHeightByViewportWidth(1000px, 40px);

  .banner-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .status-icon {
      margin-right: 20px / $minViewportWidth * 100vw;
    }
    .alert-icon {
      margin-right: 10px / $minViewportWidth * 100vw;
    }
    .banner-content__text {
      @extend %default-secondary-font;
    }
  }
}
