.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  @include calcSizeByWidth(20px, 20px);

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #223E69, $alpha: 0.1);
    border-radius: 0.2vw;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after { 
    width: 0.3vw;
    left: 36%;
    top: 6%;
    height: 1vw;
    border: solid white;
    border-width: 0 0.3vw 0.3vw 0;
    transform: rotate(45deg);
  }
}

@media (width: $minViewportWidth) {
  .checkbox-container {
    & .checkmark:after { 
      width: 14px;
      left: 5%;
      top: 24%;
      height: 1vw;
      border: solid white;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
  }
}