@import "./components/button";
@import "./components/input";
@import "./mixins";

.header {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  margin-bottom: (40px / $minViewportHeight * 100) * 1vh;
 
  .search-form {
    display: flex;

    .search-form__input {
      margin-right: 20px / $minViewportWidth * 100vw;
      padding-left: 16px / $minViewportWidth * 100vw;
      @include calcSizeByWidth(240px, 40px);
    }

    .search-form__buttons {
      display: flex;
      @include calcSizeByViewport(210px, 40px);
      .button {
        width: 50%;
        &:first-child {
          border-radius: 1vh 0 0 1vh;
        }

        &:last-child {
          border-radius: 0 1vh 1vh 0;
        }
      }
    }
  }

  .control {
    button {
      &:first-child {
        margin-right: (20px / $minViewportWidth * 100) * 1vw;
      }
    }
    .control-button {
      &.secondary {
        min-width: 169px;
      }
    }
  }
}
