@import "./fonts";
@import "./mixins";

.table {
  display: flex;
  min-width: 1000px;
  .table__column {
    display: flex;
    flex-direction: column;
    min-height: 712px;

    .column-row {
      display: flex;
      border: 1px solid rgba($color: #11223e, $alpha: 0.2);
      border-bottom: 0;
      box-sizing: border-box;
      @include calcWidthByViewportWidth(375px);
   
      &:last-child {
        border-bottom: 1px solid rgba($color: #11223e, $alpha: 0.2);
      }

      & > .table__cell {
        border-right: 1px solid rgba($color: #11223e, $alpha: 0.2);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        @include calcHeightByViewportWidth(375px, 50px);

        &:first-child {
          padding: 0 (14px / $minViewportWidth * 100vw);
          flex: 6 0 283px;
        }

        &:last-child {
          border: 0;
          flex: 2 0 89px;
          justify-content: center;
        }

        &.table__dropdown-cell {
          justify-content: space-between;

          & > div {
            display: flex;
          }

          .table__cell-left-content {
            align-items: center;
            .checkbox-container {
              margin-right: 2vw;
            }
          }

          .table__dropdown-cell-right-content {
            justify-content: space-evenly;
            align-items: center;
            .rating-star-container {
              display: inline-block;
              position: relative;
              
              cursor: pointer;
              padding-right: 0.4rem;
              
              input[type=checkbox] {
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 0;
                opacity: 0;

                &:hover ~ .rating-star {
                  color: #F5A623;
                }

                &:checked ~ .rating-star::after {
                  content: "\2605";
                  color: #f5a623;
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                }
              }
              .rating-star {
                width: 100%;
                height: 100%;
                line-height: 2vw;
                font-size: 2vw;
              }
            }
          }
        }

        &.table__cell-eval-freq {
          justify-content: center;
        }
      }

      &.dropdown-content-row {
        display: flex;
        border-right: 0;
        padding: (20px / $minViewportHeight * 100vw) (54px / $minViewportWidth * 100vw);
        height: 100%;

        .button {
          width: auto;
          font-weight: 600;
        }
      }
    }

    .table__column-header {
      .table__cell {

        &:first-child > * {
          margin-right: 2vw;

          &:last-child {
            margin-right: 0;
          }
        }

        &:last-child {
          margin: 0;
        }
      }

      .eval-freq-header > .eval-freq-header__text {
        @extend %xs-secondary-font;
        line-height: 1rem;
        margin: 0 0.4vw;
      }
    }
  }

  .table__column-dates {
    overflow-x: scroll;

    .table__column-dates-row, .table__column-dates-header {
      display: flex;
      border-top: 1px solid rgba($color: #11223e, $alpha: 0.07);
      border-right: 1px solid rgba($color: #11223e, $alpha: 0.07);
      width: fit-content;

      &:last-child {
        border-bottom: 1px solid rgba($color: #11223e, $alpha: 0.07);
      }

      .table__cell {
        display: flex;
        border-right: 1px solid rgba($color: #11223e, $alpha: 0.07);
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include calcSizeByWidth(43px, 50px);
        flex: 1 0 43px;
        position: relative;

        &.highlighted {
          background: #eef2ff;
        }

        &:last-child {
          border: 0;
        }

        .change-parameter {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          margin: 4/43 * 100 * 1% 2/43 * 100 * 1%;
          align-items: center;

          .change-parameter__value {
            @extend %s-font;
          }

          &.red {
            .change-parameter__value {
              color: #d0021b;
            }
          }

          &.green {
            .change-parameter__value {
              color: #417505;
            }
          }
        }

        &.highlighted-red {
          background: #fff6f6;
        }

        &.highlighted-green {
          background: #faffee;
        }

        .statistic-value {
          display: inline-flex;
          position: absolute;
          bottom: 0;
          justify-content: center;
          align-items: center;
          background-color: rgba($color: #75b926, $alpha: 0.3);
          font-weight: 400;
          @extend %s-font;
          @include calcSizeByWidth(22px, 11px);
          box-sizing: border-box;
          border-radius: 0.5vw;
          margin: 4 / 43 * 100 * 1% 0;
        }
      }

      &.table__column-dates-header {
        .table__cell__text {
          @extend %xs-secondary-font;
          line-height: 1rem;
        }
      }

      &.dropdown-content-row {
        border: 0;
        border-right: 1px solid rgba(17, 34, 62, 0.07);
        border-bottom: 1px solid transparent;

        .table__cell {
          border: 0;
        }
      }
    }
  }
}
